################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pyc
*.swp
/nlp_expect_output.txt
/nlp_input.txt
/nlp_my_output.txt
